.header {
    background-color: rgb(44, 47, 59);
    padding: .5rem 1rem .5rem 0;
    position: fixed;
    width: 100%;
}

.first-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo-title {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header__icon {
    padding-left: 1em;
    font-size: 2em;
}

.header__title {
    padding-left: 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.search__button {
    display: inline-block;
}

.search__button:hover {
    background-color: rgb(55, 135, 209);
}

.search__button:active {
    transform: scale(.9)
}

.slogan__span {
    color: #ffbf60;
}

.slogan {
    text-align: center;
}

.slogan__text {
    font-size: 15px;
    margin: 0;
}