.sidebar {
    width: 220px;
    background-color: transparent;
    font-family: Arial;
    font-size: 20px;
    margin-left: 5px;
    position: fixed;
    top: 7.4rem;
}

.menu {
    list-style: none;
}

.link {
    text-decoration: none;
    color: white;
}

.main {
    width: 70%;
    font-family: Arial;
    font-size: 20px;
}

.menu__item {
    background-color: rgb(55, 135, 209);
    box-shadow: 0 1px 1px 1px black;
    text-align: center;
    font-size: .9em;
    cursor: pointer;
}

.menu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item li {
    border-bottom: 1px solid black;
    background-color: #3a3a3a;
    text-align: initial;
}

.submenu__item {
    font-size: .8em;
    padding: .3em;
}

.menu__text {
    cursor: pointer;
}

.submenu {
    overflow: hidden;
    height: 0;
    transition: height .2s;
}

.submenu--show {
    height: var(--submenu-height);
}

.sidebar__button {
    margin: 5px 0 0 128px;
    display: inline-block;
}

.sidebar__Button:hover {
    background-color: rgb(55, 135, 209);
}

.sidebar__Button:active {
    transform: scale(.9)
}