<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header class="header2">
        <h1 class="header__title">Documentation Control Panel</h1>
    </header>
    <div class="container">
        <div class="container__form">
            <form action="#" class="form">
                <div class="form__field">
                    <label for="title" class="form__label">Document
                        title</label>
                    <input type="text" id="title" />
                </div>
                <div class="form__field">
                    <label for="section-title" class="form__label">Section
                        title</label>
                    <input type="text" id="seccion-title" />
                </div>
                <div class="form__field">
                    <label for="form-paragraph" class="form__label">Section
                        paragraph</label>
                    <textarea name="" id="form-paragraph" cols="30" rows="10"
                        class="form__textarea"></textarea>
                </div>
                <div class="form__field">
                    <label for="form-code" class="form__label">code
                        paragraph</label>
                    <textarea name="" id="form-code" cols="30" rows="10"
                        class="form__textarea"></textarea>
                </div>
                <div class="form__field">
                    <button class="button button--add" id="button-add">Add
                        Sections</button>
                </div>
                <div class="form__field">
                    <input type="submit" value="Insert" class="button">
                </div>
            </form>
        </div>
        <div class="container__preview"></div>

        <footer>
            <a href="/index.html" class="button button--back">Back to index</a>
        </footer>

</body>

</html>