<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documentacion</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="css/prism.css" rel="stylesheet" />

</head>

<body>
    <header class="header">
        <div class="first-row">
            <div class="header__logo-title">
                <i class="fab fa-css3 header__icon"></i>
                <h1 class="header__title">DOCUMENTACION | CSS</h3>
            </div>
            <form action="#" class="search">
                <input type="text" class="search__input">
                <a href="#" class="button search__button">Buscar</a>
            </form>
        </div>
        <div class="slogan">
            <p class="slogan__text"> Esta documentación no esta completa. Es
                solo una referencia creada por y para <span
                    class="slogan__span">Alejandro Suárez </span>sobre CSS</p>
        </div>
    </header>
    <div class="content" id="content">
        <nav class="sidebar">
            <ul class="menu" id="menu"></ul>
            <a href="/admin.html" class="button sidebar__button">Insertar</a>
        </nav>

        <div id="main" class="main"></div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/scripts-min.js"></script>
</body>

</html>